html{
    background-color: rgb(0, 0, 0);
}
body{
    text-align: center;
}
span{
    color:rgb(228, 220, 236);
    background-color: rgb(10, 10, 10);
    padding: 30px 150px 30px 150px; 
    border: 3px solid darkgray;
    border-radius: 50px 100px;
    font-size: 60px;    
    font-weight: bold;
    text-shadow: -4px 0 rgb(77, 74, 74), 0 4px rgb(77, 74, 74), 4px 0 rgb(77, 74, 74), 0 -4px rgb(77, 74, 74);
}
#toDoBox{
    margin-top: 100px;
}
div{
    position: relative;
    margin-bottom: 20px;
}
#add, #delete, #modify{
    border-radius: 10px 20px;
    background-color:rgb(10, 10, 10);
    color:white;
    text-align: center;
    height: 45px;
    width: 45px;
    font-weight: bold;
}
.txt{
    border-radius: 50px 100px;
    font-weight: bold;
    margin-top: 40px;
    background-color:rgb(10, 10, 10);
    color:white;
    text-align: center;
    width: 500px;
    height: 40px;
    font-size: 30px;
}
tr,td,th{
    border-radius: 50px 100px;
}
table{
    border-radius: 20px 40px;
}
table, tr, td, th{
    background-color: rgb(10, 10, 10);
    color:white;
    border: 1px solid darkgray;
    margin-left: auto;
    margin-right: auto;
}
#check, th, td{
    padding: 15px 5px;
}
#list{
    padding: 15px 400px;
}
#maker{
    color:white;
    font-weight: lighter;
    position: absolute;
    top: 0px;
    right:0px;
}